<div class="container">
  <h1>I am Karthi!</h1>
  <p class="text-uppercase">I'm working on my first Angular Application!!</p>
<!--  <app-server *ngFor="let server of servers"></app-server>-->
<!--  <app-server></app-server>-->
<!--  <hr>-->
<!--  <karthi-krazy></karthi-krazy>-->
<!--  <hr><hr>-->
<!--  <example></example>-->
  <!-- <div app-design></div> -->
  <!-- <div class="app-design"></div> -->
  <hr>
   <app-design></app-design>
  <hr>
<!--  <div class="success-comp"></div>-->
<!--  <app-warning></app-warning>-->
</div>
